[Unit]
Description=Starts and stops amonagent
Documentation=https://www.amon.cx/docs
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/amonagent
ExecStart=/opt/amonagent/amonagent -pidfile /var/run/amonagent/amonagent.pid
Restart=on-failure
User=amonagent
KillMode=process

[Install]
WantedBy=multi-user.target
Alias=amonagent.service
