[Unit]
Description=Starts and stops amonagent
Documentation=https://www.amon.cx/docs
After=network.target

[Service]
EnvironmentFile=-/etc/default/amonagent
User=amonagent
ExecStart=/usr/bin/amonagent -pidfile /var/run/amonagent/amonagent.pid
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
Alias=amonagent.service
